<!-- plot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plot</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="plot"></div>
    <script>
        var plot_path = "{{ plot_path }}";
        Plotly.d3.html(plot_path, function(error, data){
            if (error) {
                return console.warn(error);
            }
            document.getElementById('plot').innerHTML = data;
        });
    </script>
</body>
</html>
