<!-- plot.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!-- Character set declaration (UTF-8) ensures that the browser will correctly display all characters -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Ensures compatibility with Internet Explorer browsers -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Viewport settings for responsive web design, ensuring the page scales correctly on different devices -->
    <title>Plot</title><!-- The title of the webpage as shown in the browser's title bar or tab -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Link to the Plotly JavaScript library, enabling the use of Plotly for rendering plots -->

</head>

<body>
    <!-- The <body> section contains the content of the web page -->
    <div id="plot"></div>
    <!-- An empty div element where the plot will be dynamically inserted using JavaScript and Plotly -->
    <script>
        // JavaScript code to dynamically load and display the plot
        var plot_path = "{{ plot_path }}";
        // Use Plotly's d3 library to asynchronously fetch and display the plot HTML
        Plotly.d3.html(plot_path, function(error, data){
            if (error) {
                // If there is an error during the fetch, log it to the console
                return console.warn(error);
            }
             // Inject the fetched plot HTML into the 'plot' div element
            document.getElementById('plot').innerHTML = data;
        });
    </script>
</body>
</html>
